.home-bg {
    background: url('Media/map south africa.png') no-repeat center center fixed;
    background-size: cover;
}
body {
    background-color: #fff;
    background: none; /* Remove the previous background image */
}

.container {
    display: flex;
    flex-direction: row; /* or column */
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #ccc;
    background: #333;
    color: #fff;
    padding: 16px 0;
}
.container a {
    color: #fff;
    text-decoration: none;
}
